html {
	box-sizing: border-box;
	font-size: calc(80% + 6 * (100vw - 20em) / 1600);
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Fira Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif;
	font-weight: 300;
	line-height: 1.5;
	background: #111;
	color: lightgray;
	font-variant: common-ligatures;
	max-height: 100vh;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	margin-top: 0;
}

h1 {
	font-size: 4.235801032em;
	font-weight: 300;
	margin: .5238em 0;
	line-height: 1.047;
}

h2 {
	font-size: 2.617924em;
}

h3 {
	font-size: 1.618em;
}

p {
	max-width: 35em;
}

img {
	max-width: 100%;
	height: auto;
}

section {
	height: 100%;
}

a {
	text-decoration-style: dotted;
	color: white;
}

[data-section="root"],
[data-section="offline"] {
	flex: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	padding: 10vmin 5vmax;
}

[data-section="collection"] {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	height: 100vh;
	max-height: 100vh;
	max-width: 100%;
}

@media screen and (min-width: 62.5em) {
	[data-section="collection"] {
		flex-flow: row nowrap;
	}
}

[data-page] {
	display: flex;
	flex-flow: row wrap;
	max-height: calc(100vh - 6em);
	flex: 1;
}

@media screen and (min-width: 62.5em) {
	[data-page] {
		flex-flow: column wrap;
		overflow-y: scroll;
		max-height: 100vh;
		max-width: calc(100vw - 6em);
	}
}

[data-object] {
	flex: 1 50vw;
	position: relative;
	overflow: hidden;
	padding-bottom: calc((100vh - 6em) / 5);
	max-width: 50vw;
	height: 0;
	background-image: url('../images/placeholder.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (min-width: 62.5em) {
	[data-object] {
		flex: 0;
		max-width: calc((100vw - 6em) / 2);
		height: 0;
		padding-bottom: calc(100vh  / 5);
	}
}

[data-object] img {
	position: absolute;
	top: 0; left: 0;
	display: block;
	object-fit: cover;
	min-height: 100%;
	min-width: 100%;
}

[data-object] h2 {
	position: absolute;
	bottom: .5em; left: 1em;
	padding: .15em .25em;
	max-width: 20em;
	font-size: 0.9em;
	font-weight: 600;
	background: #b2b2b2;
	z-index: 1;
}

[data-object] a {
	display: inline-block;
	color: black;
	text-decoration: none;
}

[data-object] a:hover,
[data-object] a:focus {
	text-decoration: underline;
}

[data-paginate] {
	background-color: #222;
	width: 100vw;
	height: 3em;
}

[data-paginate] a {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	color: lightgrey;
	text-decoration: none;
	font-variant: small-caps;
	letter-spacing: 0.05em;
	height: 100%;
}

@media screen and (min-width: 62.5em) {
	[data-paginate] {
		height: 100vh;
		width: 3em;
	}

	[data-paginate] span {
		flex: 1 0 auto;
		white-space: nowrap;
	}

	[data-paginate="prev"] a span {
		transform: rotate(-0.25turn);
	}

	[data-paginate="next"] a span {
		transform: rotate(0.25turn);
	}
}
